[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
fastapi-sqlalchemy = "*"
sqlalchemy-utils = "*"
mysqlclient = "*"
pytest = "*"
inject = "*"
pydantic = "*"
alembic = "*"
uvicorn = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.10"
