[mysqld]   
character-set-server=utf8mb4 # サーバーのデフォルトのcharset
collation-server=utf8mb4_unicode_ci # サーバーのデフォルトの照合順序(データベース内のデータの文字同士を比較するときのルール)
skip-character-set-client-handshake
log-error=/var/log/mysqld.log # エラーログの場所

[mysqldump]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4